*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(67, 68, 68);  
    margin: 0 22vh;
}

header{
    padding: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 220px;
}

nav{
    flex: 1;
    display: flex;
    justify-content: center;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.buscador{
    display: flex;
    align-items: center;
}

.buscador input{
    padding: 10px;
    border-radius: 8px;
}

.buscador button{
    font-size: 25px;
    border-radius: 8px;
    background-color: rgb(117, 111, 111);
    cursor: pointer;
}

